<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <module name="TreeWalker">
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <module name="NeedBraces"/>
        <module name="EqualsHashCode"/>
        <module name="FallThrough"/>
        <module name="MissingSwitchDefault"/>
        <module name="OneStatementPerLine"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="IllegalCatch">
            <property name="illegalClassNames" value="RuntimeException,Throwable"/>
        </module>
        <module name="IllegalImport">
            <property name="illegalPkgs" value="sun,com.sun"/>
        </module>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
    </module>
</module>
