@media (min-width: 1000px) {
.doc-columns{
    display: grid;
    grid-template-columns: 20% 70%;
    grid-auto-flow: column
     }
.left-column{
 font-size: smaller;
  }
}

.statustrue{
    background:palegreen;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

/* for youtube player facade https://github.com/justinribeiro/lite-youtube */
.lite-youtube-fallback {
	aspect-ratio: 16 / 9; /* matches YouTube player */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

/* right-facing triangle "Play" icon */
.lite-youtube-fallback::before {
	display: block;
	content: '';
	border: solid transparent;
	border-width: 2em 0 2em 3em;
	border-left-color: red;
}

.lite-youtube-fallback:hover::before {
	border-left-color: #fff;
}

.lite-youtube-fallback:focus {
	outline: 2px solid red;
}

/*
    CSS Menu
 */

.css-menu {
	width:100%;
	overflow:hidden;
}

.sub-menu {
    position: relative;
    margin-bottom: 2em;
    background:#e4e5eb;
}

.sub-menu a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 0.5em;
}

.sub-menu a:hover {
    background-color: #d7d6d5;
}

/* remember to adjust both hover and dropped */
.sub-menu li:hover a{
    color: #000000;
    background: #efefef;
}
.sub-menu li.dropped a {
    color: #000000;
    background: #efefef;
}

.sub-menu li { display: inline-block; }


.sub-menu li ul { display: none; }

/* remember to adjust both hover and dropped */
@media (min-width: 1000px) {
    .sub-menu li:hover ul {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        background: #efefef;
    }
    .sub-menu li.dropped ul {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        background: #efefef;
    }
}

.sub-menu li ul li:hover a { color: #000; }

/* minimal screensize based responsiveness */
@media (max-width: 1000px) {
    .sub-menu li { display: grid; }
    .sub-menu li ul {display: grid;}
    .sub-menu li:hover ul {
        display: grid;
        position: relative;
    }
}