@media (min-width: 1000px) {
.doc-columns{
    display: grid;
    grid-template-columns: 20% 70%;
    grid-auto-flow: column
     }
.left-column{
 font-size: smaller;
  }
}

.statustrue{
    background:palegreen;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}